<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <div class="Post">
        <% for(i of arr) {%>
            <h3><%=i.username%></h3>
            <h4><%=i.content%></h4>
            <hr>
        <br>
        <a href="http://localhost:8080/posts/<%= i.id %>">See post in details</details></a>
        <a href="http://localhost:8080/posts/<%= i.id %>/edits">Edit post</a>
        <form method="POST" action="/posts/<%= i.id %>/delete?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
        <% } %>
    </div>
    <a href="http://localhost:8080/posts/new">Create new post</a>
    <br>
   
</body>
</html>