<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show users</title>
    <link rel="stylesheet" href="/home_style.css">
</head>
<body>
   
        <a href="http://localhost:8080"><button>Go back</button></a>
    <div class="part">
        <% let count=1;%>
    <% for(let i of result) { %>
        <h1>User no <%= count %></h1>
        <h2>The id of the user is  <%= i.id%></h2>
        <h2>The username of the user is  <%=i.username%></h2>
        <h2>The email of the user is  <%=i.email%></h2>
        <% count++; %>
        <a href="http://localhost:8080/user/edit/<%= i.id %>"><button>Edit</button></a>
    <% } %>
    
    </div>

    
</body>
</html>